 <footer>
      <div class="footer-container">
        <h4>Follow me on</h4>
        <div class="foot-item">
          <a href='https://www.linkedin.com/in/idokoken' target='_blank'>
            <img src="/images/linkedin.png" alt="social icon"/>
          </a>
          <a href='https://twitter.com/Idokoken1' target='_blank'>
            <img src="/images/twitter.png" alt="social icon"/>
          </a>
          <a href='https://www.guru.com/freelancers/idokoken' target='_blank'>
            <img src="/images/guru.png" alt="social icon"/>
          </a>
          <a href='https://www.freelancer.com/u/Idokoken' target='_blank'>
            <img src="/images/freelancer.jpeg" alt="social icon"/>
          </a>
        </div>
        <hr class='rule'>
        <p class=""><em>Copyright at Idoko</em></p>
      </div>
    </footer>