<header>
      <nav>
        <div class="brand">
          <a href='/'>
            <img src="/images/brand.png" alt="logo" />
          </a>
          <h1 class="name">Idoko Nduka</h1>
        </div>
        <ul>
          <li class="nav-item"><a href="/">Home</a></li>
          <li class="nav-item"><a href="/about">About</a></li>
          <li class="nav-item"><a href="/contact">Contact</a></li>
          <li class="nav-item"><a href="/projects">Projects</a></li>
        </ul>
      </nav>
    </header>