<div class="container-fluid about mb-4 mx-2">
  <div class="row mt-4 mx-1">
    <div class="col-12 col-md-4">
      <a
        ><img
          src="images/ken.jpeg"
          alt="idokoken"
          class="img-fluid img-thumbnail rounded mx-auto d-block"
      /></a>
    </div>
    <div class="col-12 col-md-8">
      <h2>Hi, I am Idoko Nduka</h2>
      <p>
        I am a Frontend Developer and User Experience Designer with over 2 years
        of experience in Frontend development, Backend development, fullstack
        development and UI/UX design. Also, I have experience in using digital
        tools to create and design logos. I love designing website and tools
        that solve problems for millions of people and designing products that
        tell stories about people and their life development and progress from
        grass to grace. I design and develop websites and products ranging from
        Business website, Personal website, E-commerce website, blog website,
        logo design etc.
      </p>
      <p>
        I started designing and developing products and websites with the aim of
        growing, developing and improving the life of people in our local
        community and wider world at large through designing products and
        software that addresses community problems and also designing products
        that are usable, enjoyable and affordable by user and meet all user
        needs
      </p>
      <p>
        If you happen to need any web development work, UI/UX work or logo
        design, please do reach out to me and we can set up a time to discuss
        further
      </p>
      <p>
        <strong>Skills:</strong> Html, CSS, Bootstrap, Javascript, React, Redux,
        Nodejs, Express.js, MongoDB,Figma, AdobeXD and Git
      </p>
      <br />
      <a
        class="btn btn-primary"
        href="https://drive.google.com/file/d/1s29mGjatXfkuy_S1ZYWswH2BYF4YWDlL/view?usp=sharing"
        target="_blank"
        >RESUME</a
      >
    </div>
  </div>
</div>
