<div class="container about mb-2">
  <div class="row mt-4">
    <div class="col-12 col-md-6">
      <a
        ><img
          src="images/ken.jpeg"
          alt="idokoken"
          class="img-fluid img-thumbnail rounded mx-auto d-block"
      /></a>
    </div>
    <div class="col-12 col-md-6">
      <h2>Hi, I am Nduka Kenneth</h2>
      <p>
        I am a User Experience Designer and Frontend Developer with over 2 years
        of experience working with the following technology stack i.e Html, CSS,
        Bootstrap, Javascript, React, Redux, Nodejs, Express.js, MongoDB, and
        Git. Also, I have experience using digital tools or design tools like
        Figma and AdobeXD. I love designing apps and tools that solve problems
        for millions of people and designing products that tell stories about
        people and their life development and progress from grass to grace. I
        also love designing products that tell stories about hope and good
        vision for a better tomorrow. I love digital and seamless design,
        creating a future experience.
      </p>
      <br />
      <a
        class="btn btn-primary"
        href="https://drive.google.com/file/d/1s29mGjatXfkuy_S1ZYWswH2BYF4YWDlL/view?usp=sharing"
        target="_blank"
        >RESUME</a
      >
      <br /><br />
      <span class="me-3"
        ><a href="mailto:chisomidoko05@gmail.com"
          ><img src="/images/email.png" alt="email" height="30" width="30" /></a
      ></span>
      <span
        ><a href="https://www.linkedin.com/in/idokoken" target="_blank"
          ><img
            src="/images/linkedin.png"
            alt="email"
            height="30"
            width="30" /></a
      ></span>
    </div>
  </div>
</div>
