<div class="jumbotron landing d-flex flex-column justify-content-center align-items-center">
      <h1 class="large text-white">
        <strong>Designer/Developer</strong>
      </h1>

      <div class="px-3 row mt-4">
        <div class="col-12 col-md-8 offset-md-2">
          <p class="lead text-white">
            I am a Frontend Developer and User Experience Designer with over 2 years of experience in frontend development, fullstack development and UI/UX design . I am also
            experienced in leading and working with a team.
          </p>
          <p class="lead">
            <a
              href="/projects"
              class="btn btn-lg btn-secondary fw-bold border-white bg-success"
              >View Works</a
            >
          </p>
        </div>
      </div>
    </div>

</div> 

