<div class="container-fliud mt-4">
  <div class="row">
    <div class="col-12">
      <h2 class="text-success container">
        Title: A website that help people find apartment for rent
      </h2>
    </div>
  </div>
  <div class="row mt-4 mx-3">
    <div class="col-12 col-md-4">
      <h3 class="text-primary">Project overview</h3>
      <p>
        EasyRent is an online meduim for finding apartment for rent in major
        cities in Nigeria. It is located in Nigeria and offer reliable,
        efficient and outstanding service to its customers. Easyrent target
        people like tourists and contractors that ususally change cities and
        need temporary or permanent accommodation.
      </p>
      <h4 class="text-info">Project duration</h4>
      <p>15th August to 25th August 2021</p>
    </div>
    <div class="col-12 col-md-8">
      <img src="/images/af/0001.png" alt="" class="img-fluid" />
    </div>
  </div>
  <div class="row mt-4 mx-2">
    <div class="col-12 col-md-6">
      <h4 class="text-info">The problem</h4>
      <p>
        Tourist, contractors and travellers who are looking for temporary or
        permament apartment to rent
      </p>
    </div>
    <div class="col-12 col-md-6">
      <h4 class="text-info">The goal</h4>
      <p>Design a website to help people find aprtment for rent</p>
    </div>
  </div>
  <div class="row mt-4 mx-2">
    <div class="col-12">
      <h3 class="text-primary">User research: summary</h3>
      <p>
        I conducted some interviews and came up with an empathy map that show
        the desire and need of the users, I am designing the website for. I also
        discovered from the research I carried out that the primary users of the
        website are tourist, contractors and people that frequently change
        cities and are in need of temporary or permanent accommodation for rent.
        I also discovered from the research that the need to secure
        accommodation in a place that has constant power supply, security and
        other basic amenities lead users to patronize platform that offers such
        services
      </p>
    </div>
  </div>
  <div class="row mt-4 mx-2">
    <div class="col-12">
      <h3 class="text-primary">User research: pain points</h3>
      <h4 class="text-info">Time</h4>
      <p>
        People that don’t have time to go around in search of apartment for rent
      </p>
      <h4 class="text-info">Accessibility</h4>
      <p>
        Platforms for finding apartment for rent do not offer services to all
        cities and do not make provision for other important considerations like
        security
      </p>
    </div>
  </div>
  <div class="row mt-4 mx-2">
    <div class="col-12 col-md-3">
      <h3 class="text-primary">persona</h3>
      <h4 class="text-info">Problem statement</h4>
      <p>
        Kelvin is a Tour guide who needs a secure and high standard apartment
        because he wants his visitors to feel secure and get the best
        hospitality
      </p>
    </div>
    <div class="col-12 col-md-9">
      <h4 class="text-center">persona image</h4>
      <img src="/images/af/0003.png" alt="" class="img-fluid" />
    </div>
  </div>
  <div class="row mt-4 mx-2">
    <div class="col-12 col-md-3">
      <h3 class="text-primary">User journey map</h3>
      <p>
        Mapping Kelvin user journey showed how easy and simple it will be
        finding apartment for rent
      </p>
    </div>
    <div class="col-12 col-md-9">
      <h4 class="text-center">user journey image</h4>
      <img src="/images/af/0004.png" alt="" class="img-fluid" />
    </div>
  </div>
  <div class="row mt-4 mx-2">
    <div class="col-12 col-md-3">
      <h3 class="text-primary">Paper wireframe</h3>
      <p>
        drafted different paper wireframes before arriving at the final one that
        made it to the initial digital wireframe and it helped in producing a
        wireframe that addresses user pain point
      </p>
    </div>
    <div class="col-12 col-md-9">
      <h4>paper wireframe image</h4>
      <img src="/images/af/0005.jpg" alt="" class="img-fluid" />
    </div>
  </div>
  <div class="row mt-4 mx-2">
    <div class="col-12 col-md-3">
      <h3 class="text-primary">Digital wireframes</h3>
      <p>
        As I was drafting out the initial digital wireframe, I based my screen
        designs on finding from user research
      </p>
    </div>
    <div class="col-12 col-md-9">
      <h4 class="text-center">Digital wireframe image</h4>
      <img src="/images/af/0002.png" alt="" class="img-fluid" />
    </div>
  </div>
  <div class="row mt-4 mx-2">
    <div class="col-12 col-md-3">
      <h3 class="text-primary">Low fidelity prototype</h3>
      <p>
        The low fidelity app prototype for EasyRent was tested and can viewed
      </p>
      <a
        class="btn btn-primary"
        href="https://www.figma.com/proto/ZIhnmziadsUaCOfcicwWZg/Af_site?node-id=25%3A2886&scaling=scale-down&page-id=25%3A2885&starting-point-node-id=25%3A2886"
        target="_blank"
        >here</a
      >
    </div>
    <div class="col-12 col-md-9">
      <h4>Low fidelity prototype image</h4>
      <img src="/images/af/0006.png" alt="" class="img-fluid" />
    </div>
  </div>
  <div class="row mt-4 mx-2">
    <div class="col-12">
      <h3 class="text-primary">Usability study: findings</h3>
      <p>This were the main finding uncovered by the usability study</p>
      <h4 class="text-info">Services</h4>
      <p>Users want to be able to contact an agent for more clearification</p>
      <h4 class="text-info">Accessibility</h4>
      <p>Users want to be able to view the location of apartment on a map</p>
    </div>
  </div>
  <div class="row mt-4 mx-2">
    <div class="col-12 col-md-3">
      <h3 class="text-primary">Mockups</h3>
      <p>
        Based on insight from usability studies, I applied design changes and
        provided a clear map for viewing the location of the apartment
      </p>
    </div>
    <div class="col-12 col-md-9">
      <img src="/images/af/0007.png" alt="" class="img-fluid" />
    </div>
  </div>
  <div class="row mt-4 mx-2">
    <div class="col-12 col-md-3">
      <h3 class="text-primary">High-fidelity prototype</h3>
      <p>
        The final high fidelity prototype shows a simple and clear flow for
        finding apartment for rent. It can be viewed at
      </p>
      <a
        class="btn btn-primary"
        href="https://www.figma.com/proto/ZIhnmziadsUaCOfcicwWZg/Af_site?node-id=71%3A158&scaling=scale-down&page-id=45%3A2&starting-point-node-id=45%3A520&show-proto-sidebar=1"
        target="_blank"
        >here</a
      >
    </div>
    <div class="col-12 col-md-9">
      <h4>high-fidelity prototyp image</h4>
      <img src="/images/af/0008.png" alt="" class="img-fluid" />
    </div>
  </div>
  <div class="row mt-4 mx-2">
    <div class="col-12 col-md-3">
      <h3 class="text-primary">Sitemap</h3>
      <p>
        I used EasyRent sitemap as an instruction in designing the website in
        order to maintain consistency across devices.
      </p>
    </div>
    <div class="col-12 col-md-9">
      <h4>sitemap image</h4>
      <img src="/images/af/0009.png" alt="" class="img-fluid" />
    </div>
  </div>
  <div class="row mt-4 mx-2">
    <div class="col-12">
      <h3 class="text-primary">Mockups</h3>
      <img src="/images/af/0010.png" alt="" class="img-fluid" />
    </div>
  </div>
  <div class="row mt-4 mx-2">
    <div class="col-12">
      <h3 class="text-primary">Accessibility considerations</h3>
      <ul class="list-group">
        <li class="list-group-item">
          Used understandable images to enable users have a clear view of the
          services
        </li>
        <li class="list-group-item">
          Provided some search options to enable users easily find what they are
          looking for
        </li>
      </ul>
    </div>
  </div>
  <div class="row mt-4 mx-2">
    <div class="col-12">
      <h3 class="text-primary">Takeaways</h3>
      <h3 class="text-info">Impact</h3>
      <p>The website knows exactly the need of its users</p>
      <h3 class="text-info">What I learned</h3>
      <p>
        I learnt while designing the website that there is need for an agent
        that users can contact
      </p>
    </div>
  </div>
  <div class="row mt-4 mx-2">
    <div class="col-12">
      <h3 class="text-primary">Next Steps</h3>
      <p>
        There should be continuous iteration to ensure that immediate user needs
        are addressed
      </p>
      <p>
        Usability study should be conducted from time to time, to address users
        pain point
      </p>
    </div>
  </div>
</div>
