<div class="container-fliud mt-4">
  <div class="row">
    <div class="col-12">
      <h2 class="text-success container">
        Title: A tool to help people learn how to start a business
      </h2>
    </div>
  </div>
  <div class="row mt-4 mx-2">
    <div class="col-12 col-md-4">
      <h3 class="text-primary">Project overview</h3>
      <h4 class="text-info">The product</h4>
      <p>
        Bideas is a non governmental organisation that helps young graduates and
        people who are looking for an alternative source of income to learn and
        start a business
      </p>
      <h4 class="text-info">Project duration</h4>
      <p>April to May 2022</p>
    </div>
    <div class="col-12 col-md-8">
      <img src="/images/bw/0001.png" alt="" class="img-fluid" />
    </div>
    <div class="col-12 col-md-6 mt-md-4">
      <h4 class="text-info">The problem</h4>
      <p>
        70% of university graduates are unemployed or do not have any job.
        Bideas provides a way to help people learn how to start a business,
        support existing job and be financially stable.
      </p>
    </div>
    <div class="col-12 col-md-6 mt-md-4">
      <h4 class="text-info">The goal</h4>
      <p>
        To design an app that will help people learn how to start a business and
        be financially stable.
      </p>
    </div>
    <div class="col-12 col-md-6 mt-md-4">
      <h4 class="text-info">My role</h4>
      <p>
        UX designer and UX researcher designing an app and responsive website
        for Bideas from inception to delivery.
      </p>
    </div>
    <div class="col-12 col-md-6 mt-md-4">
      <h4 class="text-info">Responsibilities</h4>
      <p>
        Conducted interview, usability studies, paper wireframing, digital
        wireframing, low fidelity prototype, high fidelity prototype, accounted
        for accessibility, iterated on designs, determined information
        architecture and responsive design.
      </p>
    </div>
    <div class="col-12 col-md-6 mt-md-4">
      <h4 class="text-info">Skills and Tools Used</h4>
      <p>Figma and Miro(https://miro.com)</p>
    </div>
  </div>
  <div class="row mt-4 mx-2">
    <div class="col-12">
      <h3 class="text-primary">User Research: Summary</h3>
      <p>
        I carried out interview and drafted out empathy map to understand the
        needs of the users I am designing the app and responsive website for, I
        identified primary user group through research which are young
        university graduates and civil servants who are looking for a way to
        earn a living or support their current income. Research showed that
        time, desire to earn a living and be financially stable lead users to
        use Bideas website
      </p>
    </div>
  </div>
  <div class="row mt-4 mx-2">
    <div class="col-12">
      <h3 class="text-primary">User research: pain points</h3>
    </div>
    <div class="col-12 col-md-3">
      <h3 class="text-info">Accesibility</h3>
      <p>
        Unemployed graduates that do not have money to start a business and want
        a medium to learn some skills.
      </p>
      <p>
        Working individuals that need another means of income to supplement
        their existing job.
      </p>
    </div>
  </div>
  <div class="row mt-4 mx-2">
    <div class="col-12 col-md-4">
      <h3 class="text-primary">Users Personas</h3>
      <h4 class="text-info">Persona: George</h4>
      <h4 class="text-danger">Problem Statement</h4>
      <p>
        George is a Jobless university graduate who needs to start a business
        because he wants earn a living and be financially buoyant.
      </p>
    </div>
    <div class="col-12 col-md-8">
      <h4>persona image</h4>
      <img src="/images/bw/0002.png" alt="" class="img-fluid" />
    </div>
    <div class="col-12 col-md-4">
      <h4 class="text-info">Persona: Ella</h4>
      <h4 class="text-danger">Problem Statement</h4>
      <p>
        Ella is a civil servant who needs to start a business that does not
        require much time because her salary is not enough to sustain her
        livelihood.
      </p>
    </div>
    <div class="col-12 col-md-8">
      <h4>persona image</h4>
      <img src="/images/bw/0003.png" alt="" class="img-fluid" />
    </div>
  </div>
  <div class="row mt-4 mx-2">
    <div class="col-12">
      <h3 class="text-primary">Competitive Audit</h3>
      <p>
        An audit of the services offered by few competitors provided gaps and
        oppurtunity to address with the Bideas.
      </p>
      <p>To view the competitive audit click</p>
      <a
        href="https://docs.google.com/spreadsheets/d/1IxnUvZDDBp1G6GuEcis0KsWYRNj_K1YH/edit?usp=sharing&ouid=111300783794283561322&rtpof=true&sd=true"
        class="btn btn-primary"
        target="=_blank"
        >here</a
      >
    </div>
  </div>
  <div class="row mt-4 mx-2">
    <div class="col-12 col-md-4">
      <h3 class="text-primary">Paper wireframes</h3>
      <p>
        I ideated and drafted some initial paper wireframe that were later
        combined to one wireframe
      </p>
    </div>
    <div class="col-12 col-md-8">
      <h4>Paper wireframes image</h4>
      <img src="/images/bw/0004.jpg" alt="" class="img-fluid" />
    </div>
  </div>
  <div class="row mt-4 mx-2">
    <div class="col-12 col-md-4">
      <h3 class="text-primary">Digital wireframes</h3>
      <p>
        After ideating and drafting of the paper wireframe, I created initial
        digital wireframe As I made sure to base screen design on finding from
        user research
      </p>
    </div>
    <div class="col-12 col-md-8">
      <h4>Digital wireframes image</h4>
      <img src="/images/bw/0005.png" alt="" class="img-fluid" />
    </div>
  </div>
  <div class="row mt-4 mx-2">
    <div class="col-12 col-md-4">
      <h3 class="text-primary">Low-fidelity prototype</h3>
      <p>The low fidelity app prototype for Bideas was tested and can viewed</p>
      <a
        class="btn btn-primary"
        href="https://www.figma.com/proto/bKpukGUFI3xWihBemxQSN8/bf_website?node-id=3%3A2&scaling=scale-down&page-id=0%3A1&starting-point-node-id=3%3A2&show-proto-sidebar=1"
        >here</a
      >
    </div>
    <div class="col-12 col-md-8">
      <h4>low fidelity propotype image</h4>
      <img src="/images/bw/0006.png" alt="" class="img-fluid" />
    </div>
  </div>
  <div class="row mt-4 mx-2">
    <div class="col-12">
      <h3 class="text-primary">Usability study: findings</h3>
      <p>This were the main finding uncovered by the usability study</p>
    </div>
    <div class="col-6 col-md-4">
      <h4 class="text-info">Business details</h4>
      <p>Users want an easy way to view business details</p>
    </div>
    <div class="col-6 col-md-4">
      <h4 class="text-info">Icons</h4>
      <p>Users want an icon that will lead to business categories</p>
    </div>
    <div class="col-6 col-md-4">
      <h4 class="text-info">Accessibility</h4>
      <p>
        Users want an easy way to return to home page after successfully
        completing the user flow
      </p>
    </div>
  </div>
  <div class="row mt-4 mx-2">
    <div class="col-12 col-md-3">
      <h3 class="text-primary">Mockups</h3>
      <p>
        1. Based on insight from usability studies, apllied some design changes
        and provided more icons for easy navigation
      </p>
    </div>
    <div class="col-12 col-md-9">
      <img src="/images/bw/0007.png" alt="" class="img-fluid" />
    </div>
    <div class="row mt-4 mx-2">
      <div class="col-12 col-md-3">
        <p>
          2. Additonal design changes included adding an option for viewing
          business type
        </p>
      </div>
      <div class="col-12 col-md-9">
        <img src="/images/bw/0008.png" alt="" class="img-fluid" />
      </div>
    </div>
    <div class="row mt-4 mx-2">
      <div class="col-12">
        <h3 class="text-primary">Mockups</h3>
        <img src="/images/bw/0009.png" alt="" class="img-fluid" />
      </div>
    </div>
    <div class="row mt-4 mx-2">
      <div class="col-12 col-md-4">
        <h3 class="text-primary">high-fidelity prototype</h3>
        <p>
          The high fidelity prototype has the same user flow as the low fidelity
          prototype with some changes in design that were made after the
          usability study
        </p>
        <a
          class="btn btn-primary"
          href="https://www.figma.com/proto/bKpukGUFI3xWihBemxQSN8/bf_website?node-id=25%3A51&scaling=scale-down&page-id=17%3A352&starting-point-node-id=19%3A394"
          >here</a
        >
      </div>
      <div class="col-12 col-md-8">
        <h4>low fidelity propotype image</h4>
        <img src="/images/bw/0010.png" alt="" class="img-fluid" />
      </div>
    </div>
    <div class="row mt-4 mx-2" type="1">
      <div class="col-12">
        <h3 class="text-primary">Accessibility considerations</h3>
        <ul class="list-group">
          <li class="list-group-item">
            Provided icons to make navigation easier
          </li>
          <li class="list-group-item">
            Used understandable and simple images to enable users understand the
            design better
          </li>
        </ul>
      </div>
    </div>
    <div class="row mt-4 mx-2">
      <div class="col-12 col-md-3">
        <h3 class="text-primary">Sitemap</h3>
        <p>
          I used Bideas sitemap as a guide in designing the responsive website
          to ensure consistent experience across devices
        </p>
      </div>
      <div class="col-12 col-md-9">
        <img src="/images/bw/0011.png" alt="" class="img-fluid" />
      </div>
    </div>
    <div class="row mt-4 mx-2">
      <div class="col-12 col-md-3">
        <h3 class="text-primary">Responsive design</h3>
        <p>
          Design for screen size variation includes mobile, tablet and desktop.
          I designed the site to fit specific user needs for screen size
        </p>
      </div>
      <div class="col-12 col-md-9">
        <img src="/images/bw/0012.png" alt="" class="img-fluid" />
      </div>
    </div>
    <div class="row mt-4 mx-2">
      <div class="col-12">
        <h3 class="text-primary">Takeaways</h3>
        <h3 class="text-info">Impact</h3>
        <p>The app really understand and solves the problem of the youth.</p>
        <h3 class="text-info">What I learned</h3>
        <p>
          I learnt continuous improvement on the app will lead to it being more
          useful to the users
        </p>
      </div>
      <div class="row mt-4 mx-2">
        <div class="col-12">
          <h3 class="text-primary">Next steps</h3>
          <p>
            1. Add more business type to enable users to have a enough variety
            of options
          </p>
          <p>
            2. Provide option where users can access or apply for grant to start
            a business
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
