<div class="container mt-5 mb-4 content">
  <div class="row gy-5">
    <div class="col-6 work">
      <a href="/projects/project1">
        <div
          class="p-3 border bg-light text d-flex justify-content-center align-items-center border border-dark border-5"
        >
          A tool to help people learn business
        </div>
      </a>
    </div>
    <div class="col-6 work">
      <a href="/projects/project2" class="">
        <div
          class="p-3 border bg-light text d-flex justify-content-center align-items-center border border-dark border-5"
        >
          An E-commerce fitness trainer
        </div>
      </a>
    </div>
    <div class="col-6 work">
      <a href="/projects/project3">
        <div
          class="p-3 border bg-light text d-flex justify-content-center align-items-center border border-dark border-5"
        >
          A website to help people find apartment for rent
        </div>
      </a>
    </div>
  </div>
</div>
