<div class="container-fliud mt-4">
  <div class="row">
    <div class="col">
      <h2 class="text-success container">
        Title: An app for an E-commerce fitness trainer
      </h2>
    </div>
  </div>
  <div class="row mt-4 mx-auto">
    <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
      <h3 class="text-primary">Project overview</h3>
      <p>
        Ndfirst is an E-commerce fitness tainer located in los-Angeles. Ndfirst
        delivers high quality, durable, and reliable fitness trainer products at
        an affordable price. Ndfirst targets customers like young men, sport
        lover and overweight ladies who want to keep fit, exercise and reduce
        body weight and fat.
      </p>
      <h3 class="text-primary">Project duration</h3>
      <p>June 2021 to August 2021</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <img src="/images/ft/0001.png" alt="" class="img-fluid" />
    </div>
  </div>
  <div class="row mt-2 mx-2">
    <div class="col-12 col-md-6">
      <h3 class="text-info">The problem</h3>
      <p>
        young men, sport lover and overweight women who want to keep fit,
        exercise and reduce body weight and fat.
      </p>
    </div>
    <div class="col-12 col-md-6">
      <h3 class="text-info">The goal</h3>
      <p>
        To design an app that will enable users purchase fitness product or
        equipment.
      </p>
    </div>
    <div class="col-12 col-md-6 mt-md-4">
      <h4 class="text-info">My role</h4>
      <p>
        UX designer and UX researcher designing an app for Ndfirst from
        inception to delivery.
      </p>
    </div>
    <div class="col-12 col-md-6 mt-md-4">
      <h4 class="text-info">Responsibilities</h4>
      <p>
        Conducted interview, usability studies, paper wireframing, digital
        wireframing, low fidelity prototype, high fidelity prototype, accounted
        for accessibility, iterated on designs, and determined information
        architecture.
      </p>
    </div>
    <div class="col-12 col-md-6 mt-md-4">
      <h4 class="text-info">Skills and Tools Used</h4>
      <p>Figma and Miro(https://miro.com)</p>
    </div>
  </div>
  <div class="row mt-2 mx-2">
    <div class="col-12">
      <h3 class="text-primary">User research: summary</h3>
      <p>
        I carried out interview and drafted out empathy map to understand the
        needs of the users, I am designing the app for, I identified primary
        user group through research which are young men and over weight women,
        who are looking for a way to keep fit and reduce body fat and weight.
        Research showed that time, desire to reduce weight and keep fit,
        interest in gym and exercise lead users to buy fitness trainer products
        and equipment.
      </p>
    </div>
  </div>
  <div class="row mt-2 mx-2">
    <div class="col-12">
      <h3 class="text-primary">User research: pain points</h3>
    </div>
    <div class="col-6 col-md-4">
      <h3 class="text-danger">Time</h3>
      <p>Working individuals that don’t have time to go to local gym</p>
    </div>
    <div class="col-6 col-md-4">
      <h3 class="text-danger">Product</h3>
      <p>
        Platforms for ordering fitness trainer products do not have modern and
        latest product
      </p>
    </div>
    <div class="col-6 col-md-4">
      <h3 class="text-danger">Accessibility</h3>
      <p>
        Platforms for ordering fitness trainer products are not much equipped
        with assistive technology
      </p>
    </div>
  </div>
  <div class="row mt-2 mx-2">
    <div class="col-12">
      <h3 class="text-primary">Persona</h3>
    </div>
    <div class="col-12 col-md-4">
      <h3 class="text-danger">Problem statement</h3>
      <p>
        Joe is a final year chemistry who needs reduce body size and weight
        because He is too fat making look older than his age
      </p>
    </div>
    <div class="col-12 col-md-8">
      <h4 class="text-center">Persona image</h4>
      <img src="/images/ft/0002.png" alt="" class="img-fluid" />
    </div>
  </div>
  <div class="row mt-2 mx-2">
    <div class="col-12 col-md-4">
      <h3 class="text-primary">User journey map</h3>
      <p>
        Mapping joe user journey showed how easy it will be to purchase fitness
        trainer products
      </p>
    </div>
    <div class="col-12 col-md-8">
      <h4 class="text-center">User journey map image</h4>
      <img src="/images/ft/0003.png" alt="" class="img-fluid" />
    </div>
  </div>
  <div class="row mt-4 mx-2">
    <div class="col-12 col-md-4">
      <h3 class="text-primary">Paper wireframes</h3>
      <p>
        Taking time to draft different paper wireframes before arriving at the
        final one that made it to the initial digital wireframe helped in
        producing a wireframe that addresses user pain point and has a quick and
        easy ordering process.
      </p>
    </div>
    <div class="col-12 col-md-8">
      <h4>Paper wireframes image</h4>
      <img src="/images/ft/0004.png" alt="" class="img-fluid" />
    </div>
  </div>
  <div class="row mt-4 mx-2">
    <div class="col-12 col-md-4">
      <h3 class="text-primary">Digital wireframes</h3>
      <p>
        As the initial digital wireframe continue, I made sure to base screen
        design on finding from user research
      </p>
    </div>
    <div class="col-12 col-md-8">
      <h4 class="text-center mb-2">Digital wireframes image</h4>
      <img src="/images/ft/0005.png" alt="" class="img-fluid" />
    </div>
    <div class="clo-12 col-md-4 mt-4">
      <p>Easy navigation was an important user need to address in the design</p>
    </div>
    <div class="clo-12 col-md-6 mt-md-4">
      <img src="/images/ft/0006.png" alt="" class="img-fluid" />
    </div>
  </div>
  <div class="row mt-4 mx-2">
    <div class="col-12 col-md-4 mb-2">
      <h3 class="text-primary">Low-Fidelity Prototype</h3>
      <p>
        The low fidelity app prototype for Ndfirst was tested and can be viewed
      </p>
      <a
        href="https://www.figma.com/proto/uBE5V8dxfMU2t0bUmWPNzq/my_project?node-id=1%3A2&scaling=scale-down&page-id=0%3A1&starting-point-node-id=1%3A2"
        target="_blank"
        class="btn btn-info"
        ><strong>Here</strong></a
      >
    </div>
    <div class="col-12 col-md-8">
      <h4>Low-Fidelity Prototype</h4>
      <img src="/images/ft/0007.png" alt="" class="img-fluid" />
    </div>
  </div>
  <div class="row mt-4 mx-2">
    <div class="col-12">
      <h3 class="text-primary text-center">Usability study: findings</h3>
    </div>
    <div class="col-12 col-md-6">
      <h3 class="text-info">Round 1 findings</h3>
      <ul class="list-group">
        <li class="list-group-item">
          users need a clear icon representing profile page
        </li>
        <li class="list-group-item">
          users need an app that will order products quickly.
        </li>
        <li class="list-group-item">
          users need an easy way get started with the ordering process
        </li>
      </ul>
    </div>
    <div class="col-12 col-md-6">
      <h3 class="text-info">Round 2 findings</h3>
      <ul class="list-group">
        <li class="list-group-item">
          There no option to delete a single selected product without deleting
          all the selected products
        </li>
        <li class="list-group-item">
          No separate page for payment, so that users can go there and make
          their payment easily and at will
        </li>
      </ul>
    </div>
  </div>
  <div class="row mt-4 mx-2">
    <div class="col-12 col-md-4">
      <h3 class="text-primary">Mockups</h3>
      <p>
        Early design did not provide option to remove a single selected product
        but after usability studies, I added an icon at the right side of every
        product as an option to remove the product
      </p>
    </div>
    <div class="col-12 col-md-8">
      <img src="/images/ft/0008.png" alt="" class="img-fluid" />
    </div>
  </div>
  <hr />
  <div class="row mt-4 mx-2">
    <div class="col-12 col-md-4">
      <p>
        The second usability study showed that all the pages do not have bottom
        navigation, so I added bottom navigation to all the pages, so that users
        can easily navigate through the app
      </p>
    </div>
    <div class="col-12 col-md-8">
      <img src="/images/ft/0009.png" alt="" class="img-fluid" />
    </div>
  </div>
  <div class="row mt-4 mx-2">
    <div class="col-12">
      <h3>Mockups</h3>
      <img src="/images/ft/0010.png" alt="" class="img-fluid mx-auto" />
    </div>
  </div>
  <div class="row mt-5 mx-2">
    <div class="col-12 col-md-3">
      <h3 class="text-primary">High-fidelity prototype</h3>
      <p>
        The final high fidelity prototype present a simple flow to purchase
        fitness trainer products. It can be viewed
      </p>
      <a
        class="btn btn-info"
        target="_blank"
        href="https://www.figma.com/proto/ghPPLnY6vrVHg1O6ITorXc/ft_app?node-id=729%3A4&scaling=scale-down&page-id=729%3A3&starting-point-node-id=729%3A4"
        ><strong>here</strong></a
      >
    </div>
    <div class="col-12 col-md-9">
      <img src="/images/ft/0011.png" alt="" class="img-fluid" />
    </div>
  </div>
  <div class="row mt-5 mx-2">
    <div class="col-12">
      <h4 class="text-primary">Accessibility consideration</h4>
      <ul class="list-group">
        <li class="list-group-item">
          Provided icons to make navigation easier
        </li>
        <li class="list-group-item">
          Provided text as a second option to icons to enable users who are not
          use to icons to understand the meaning of the icons
        </li>
        <li class="list-group-item">
          Used clear and simple images to enable users understand the design
          better
        </li>
      </ul>
    </div>
  </div>
  <div class="row mt-5 mx-2">
    <div class="col-12">
      <h3 class="text-primary">Takeaways</h3>
      <h4 class="">Impact</h4>
      <p class="list-group-item">
        The app makes users feel Ndfirst Knows what they really want
      </p>
      <h4 class="">What I learned</h4>
      <p class="list-group-item">
        I learnt while carrying out usability studies that continuous iteration
        will continue to improve the usability of the app more
      </p>
    </div>
  </div>
  <div class="row mt-4 mx-2">
    <div class="col-12">
      <h3 class="text-primary">Next Steps</h3>
      <p>
        More user research will be conducted to find out any new area of need.
      </p>
      <p>
        Conduct another usability studies to validate that users pain points
        have been addressed
      </p>
    </div>
  </div>
</div>
